---
layout: default
title: "MeArm Robotic Arm"
---

{% assign tag="mearm" %}
{% include project-header.html %}

<p>I was planning on building a robot arm at some point but didn't have any concrete plans.  Then I stumbled upon the MeArm open source robotic arm on a web site.  They were out of stock and the basic price was beyond what I was looking to spend at the time but I liked the look of the arm enough to bookmark it and thought I'd have a quick look on eBay in case I could find one cheaper.  By pure chance, someone was selling the acrylic parts for a stupidly low price and I knew I had the hardware and servos to complete the build so I purchased the item on the spot.</p>

<p>This project will be a record of the build followed by the things I learn and any modifications I make.</p>

{% include project-posts.html %}
