---
layout: default
title: "Projects"
---

<h2 class="page-header text-center">Active Projects</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <img src="/images/tazclone/cover.jpg" height="200" class="img-rounded">

                <div class="fh-wrap">
                    {% include jumbo-content-tazclone.html %}
                </div>

                <p><a href="projects/tazclone.html" class="btn btn-primary" role="button">Explore Project</a></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="/images/badscore/cover.jpg" height="200" class="img-rounded">

                <div class="fh-wrap">
                    {% include jumbo-content-badscore.html %}
                </div>

                <p><a href="projects/badscore.html" class="btn btn-primary" role="button">Explore Project</a></p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <img src="/images/compvis/cover.jpg" height="200" class="img-rounded">

                <div class="fh-wrap">
                    {% include jumbo-content-compvis.html %}
                </div>

                <p><a href="projects/compvis.html" class="btn btn-primary" role="button">Explore Project</a></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="/images/allbot/cover.jpg" height="200" class="img-rounded">

                <div class="fh-wrap">
                    {% include jumbo-content-allbot.html %}
                </div>

                <p><a href="projects/allbot.html" class="btn btn-primary" role="button">Explore Project</a></p>
            </div>
        </div>
    </div>
</div>

<h2 class="page-header text-center">Paused Projects</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <img src="/images/hexapod/cover.jpg" height="200" class="img-rounded">

                <div class="fh-wrap">
                    {% include jumbo-content-hexapod.html %}
                </div>

                <p><a href="projects/hexapod.html" class="btn btn-primary" role="button">Explore Project</a></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="/images/quadx450/cover.jpg" height="200" class="img-rounded">

                <div class="fh-wrap">
                    {% include jumbo-content-quadx450.html %}
                </div>

                <p><a href="projects/quadx450.html" class="btn btn-primary" role="button">Explore Project</a></p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <img src="/images/rosbot/cover.jpg" height="200" class="img-rounded">

                <div class="fh-wrap">
                    {% include jumbo-content-rosbot.html %}
                </div>

                <p><a href="projects/rosbot.html" class="btn btn-primary" role="button">Explore Project</a></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="/images/red-rover/cover.jpg" height="200" class="img-rounded">

                <div class="fh-wrap">
                    {% include jumbo-content-red-rover.html %}
                </div>

                <p><a href="projects/red-rover.html" class="btn btn-primary" role="button">Explore Project</a></p>
            </div>
        </div>
    </div>
</div>

<h2 class="page-header text-center">Finished Projects</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <img src="/images/mpcnc/cover.jpg" height="200" class="img-rounded">

                <div class="fh-wrap">
                    {% include jumbo-content-mpcnc.html %}
                </div>

                <p><a href="projects/mpcnc.html" class="btn btn-primary" role="button">Explore Project</a></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <img src="/images/kossel-mini/cover.jpg" height="200" class="img-rounded">

                <div class="fh-wrap">
                    {% include jumbo-content-kossel-mini.html %}
                </div>

                <p><a href="projects/kossel-mini.html" class="btn btn-primary" role="button">Explore Project</a></p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <img src="/images/prusa-i2/cover.jpg" height="200" class="img-rounded">

                <div class="fh-wrap">
                    {% include jumbo-content-prusa-i2.html %}
                </div>

                <p><a href="projects/prusa-i2.html" class="btn btn-primary" role="button">Explore Project</a></p>
            </div>
        </div>
    </div>
</div>
