---
layout: default
title: "Projects"
---

<h2 class="page-header">Projects</h2>

<div class="row">
{% assign i = 0 %}
{% assign tags = site.tags | keys | reverse %}

{% for tag in tags %}
{% if site.data.projects[tag].archive != true %}
    <div class="col-md-4 boxout">
        <a href="projects/{{ tag }}.html">
            <img src="/images/{{ tag }}/cover.tn.jpg" height="200" class="img-responsive">
            <h3>{{ site.data.projects[tag].title }}</h3>
            <div><small>Last update: {{ site.tags[tag].first.date | date_to_long_string }}</small></div>
        </a>
    </div>
    {% if i == '2' %}
        {% assign i = 0 %}
</div>

<br>

<div class="row">
    {% else %}
        {% capture i %}{{ i | plus: 1 }}{% endcapture %}
    {% endif %}
{% endif %}
{% endfor %}
</div>

<br>

<h2 class="page-header">Archive</h2>

<div class="row">
{% assign i = 0 %}
{% assign tags = site.tags | keys | reverse %}

{% for tag in tags %}
{% if site.data.projects[tag].archive == true %}
    <div class="col-md-4 boxout">
        <a href="projects/{{ tag }}.html">
            <img src="/images/{{ tag }}/cover.tn.jpg" height="200" class="img-responsive">
            <h3>{{ site.data.projects[tag].title }}</h3>
            <div><small>Last update: {{ site.tags[tag].first.date | date_to_long_string }}</small></div>
        </a>
    </div>
    {% if i == '2' %}
        {% assign i = 0 %}
</div>

<br>

<div class="row">
    {% else %}
        {% capture i %}{{ i | plus: 1 }}{% endcapture %}
    {% endif %}
{% endif %}
{% endfor %}
</div>
