
<div style="background: transparent url(/images/{{ tag }}/cover.jpg) center center no-repeat; background-size: cover">
    <div class="container">
        <div class="jumbotron" style="background: rgba(255, 255, 255, 0.5); margin: 0 -15px; padding-top:100px; padding-bottom:100px">
            {% include jumbo-content-{{ tag }}.html %}
        </div>
    </div>
</div>

<ol class="breadcrumb" style="margin-top: -36px; border-radius: 0; background: rgba(255, 255, 255, 0.6)">
    <li><a href="/">Home</a></li>
    <li>{{ title | strip_tag_prefix: tag }}</li>
</ol>

{% if in_progress %}
    <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-info-sign"></span>
        I'm still working on this project so be sure to check back regularly for
        updates!
    </div>
{% endif %}
