
/* ------------------------------------- */


.container {
    max-width: 1000px;
}

.timeline {
    background: url(/assets/timeline-bg.png) 43px 0 repeat-y;
}

.timeline li:first-child {
    background: transparent url(/assets/timeline-top.png) 43px 0 no-repeat;
    padding-top: 50px;
}

.timeline li:last-child {
    background: transparent url(/assets/timeline-bottom.png) 18px 100% no-repeat;
    padding-bottom: 60px;
}

.timeline li .label {
    margin-left: 10px;
}

img.zoomable {
    cursor: pointer;
}

