<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head_common.html %}
    </head>
    <body role="document">
        {% include nav.html %}

        <div class="container post" role="main">
            <div style="background: transparent url(/images/{{ page.tags }}/cover.jpg) center center no-repeat; background-size: cover">
                <div class="container">
                    <div class="jumbotron" style="background: rgba(255, 255, 255, 0.5); margin: 0 -15px; padding-top:100px; padding-bottom:100px">
                        {% include jumbo-content-{{page.tags}}.html %}
                    </div>
                </div>
            </div>

            <ol class="breadcrumb" style="margin-top: -36px; border-radius: 0; background: rgba(255, 255, 255, 0.6)">
                <li><a href="/">Home</a></li>
                <li><a href="/projects/{{ page.tags }}.html">{{ title }}</a></li>
                <li>{{ page.title | strip_tag_prefix: page.tags }}</li>
            </ol>

            <div class="page-heading">
                <h1>{{ page.title | strip_tag_prefix: page.tags[0] }}</h1>
            </div>

            {{ content }}

            <nav>
                <ul class="pager">
                    {% if page.previous %}
                        <li class="previous"><a href="{{ page.previous.url }}"><span class="glyphicon glyphicon-chevron-left"></span> Previous: {{ page.previous.title | strip_tag_prefix: page.previous.tags }}</a></li>
                    {% endif %}
                    {% if page.next %}
                        <li class="next"><a href="{{ page.next.url }}">Next: {{ page.next.title | strip_tag_prefix: page.next.tags }} <span class="glyphicon glyphicon-chevron-right"></span></a></li>
                    {% endif %}
                </ul>
            </nav>

            {% include footer.html %}
        </div>
    </body>
</html>
