<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/assets/site.css">
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script>

        $(document).ready(function () {
            $('img')
                .each(function () {
                    if ($(this).attr('src').indexOf('.tn.') >= 0) {
                        $(this).addClass('zoomable');
                    }
                })
                .click(function () {
                    var src = $(this).attr('src');
                    var tnIndex = src.indexOf('.tn.');

                    if (tnIndex >= 0) {
                        var src = src.slice(0, tnIndex) + src.slice(tnIndex + 3);
                        window.open(src);
                    }
                });
        });

        </script>
    </head>
    <body>
        <div class="page">
            <header>
                <h1>stuartm</h1>
            </header>

            {% include nav.html %}

            <article>
                <h2>{{ page.title }}</h2>

                <div class="pager_summary">
                    Post
                    {% for post in site.posts %}
                        {% if forloop.first %}
                            {% assign last_post=post %}
                        {% elsif forloop.last %}
                            {% assign first_post=post %}
                        {% endif %}

                        {% if post.id == page.id %}
                            {{ forloop.rindex }}
                        {% endif %}
                    {% endfor %}
                    of {{ site.posts.size }}
                    -
                    {{ page.date | date: "%A, %-d %B %Y" }}

                    <span class="pager_links">
                        {% assign first_link="Oldest" %}
                        {% assign prev_link="Prev" %}
                        {% assign next_link="Next" %}
                        {% assign last_link="Newest" %}

                        {% if page.previous %}
                            <a href="{{ first_post.url }}" title="First post: {{ first_post.title }}" class="first">{{ first_link }}</a>
                            <a href="{{ page.previous.url }}" title="Previous post: {{ page.previous.title }}" class="prev">{{ prev_link }}</a>
                        {% else %}
                            <span class="first">{{ first_link }}</span>
                            <span class="prev">{{ prev_link }}</span>
                        {% endif %}

                        {% if page.next %}
                            <a href="{{ page.next.url }}" title="Next post: {{ page.next.title }}" class="next">{{ next_link }}</a>
                            <a href="{{ last_post.url }}" title="Last post: {{ last_post.title }}" class="last">{{ last_link }}</a>
                        {% else %}
                            <span class="next">{{ next_link }}</span>
                            <span class="last">{{ last_link }}</span>
                        {% endif %}
                    </span>
                </div>

                {{ content }}

                <p class="pager">
                    {% if page.next %}
                        Next: <a href="{{ page.next.url }}">{{ page.next.title }}</a>
                    {% endif %}
                </p>
            </article>

            {% include footer.html %}
        </page>
    </body>
</html>
