<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head_common.html %}
    </head>
    <body role="document">
        {% include nav.html %}

        {% assign project=site.data.projects[tag] %}

        <div class="container post" role="main">
            <div style="background: transparent url(/images/{{ tag }}/cover.jpg) center center no-repeat; background-size: cover">
                <div class="container">
                    <div class="jumbotron" style="background: rgba(255, 255, 255, 0.5); margin: 0 -15px; padding-top:100px; padding-bottom:100px">
                        <h1>{{ project.title }}</h1>
                    </div>
                </div>
            </div>

            <ol class="breadcrumb" style="margin-top: -36px; border-radius: 0; background: rgba(255, 255, 255, 0.6)">
                <li><a href="/">Home</a></li>
                <li><a href="/projects/{{ page.tags }}.html">{{ title }}</a></li>
                <li>{{ page.title }}</li>
            </ol>

            <div class="page-heading">
                <h1>{{ page.title }}</h1>
            </div>

            {{ content }}

            <hr>

            <p><small style="color: grey">Posted on {{ page.date | date_to_long_string }}</small></p>

            <br>

            <div class="row">
                <div class="col-sm-6">
                    {% if page.previous %}
                        <a href="{{ page.previous.url }}" class="media">
                            <div class="media-left">
                                {% assign foundImage = 0 %}
                                {% assign images = page.previous.content | split:"<img " %}
                                {% for image in images %}
                                    {% assign imageSrcAttr = image | truncate:3,'' %}
                                    {% if imageSrcAttr == 'src' %}
                                        {% if foundImage == 0 %}
                                            {% assign html = image | split:">" | first %}
                                            <div style="background:#CCC; width:64px; height:64px; overflow:hidden"><img class="media-object" {{ html }} width="100"></div>
                                            {% assign foundImage = 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {% if foundImage == 0 %}
                                    <div style="background:#CCC; height:64px; width:64px"></div>
                                {% endif %}
                            </div>
                            <div class="media-body">
                                <big>Previous: {{ page.previous.title }}</big>
                                <br>
                                {% if site.data.projects[page.previous.tags.first].title %}
                                    {{ site.data.projects[page.previous.tags.first].title }}
                                {% else %}
                                    {{ page.previous.tags.first }}
                                {% endif %}
                                <br>
                                <small>{{ page.previous.date | date_to_long_string }}</small>
                            </div>
                        </a>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    {% if page.next %}
                        <a href="{{ page.next.url }}" class="media">
                            <div class="media-body text-right">
                                <big>Next: {{ page.next.title }}</big>
                                <br>
                                {% if site.data.projects[page.next.tags.first].title %}
                                    {{ site.data.projects[page.next.tags.first].title }}
                                {% else %}
                                    {{ page.next.tags.first }}
                                {% endif %}
                                <br>
                                <small>{{ page.next.date | date_to_long_string }}</small>
                            </div>
                            <div class="media-right media-middle">
                                {% assign foundImage = 0 %}
                                {% assign images = page.next.content | split:"<img " %}
                                {% for image in images %}
                                    {% assign imageSrcAttr = image | truncate:3,'' %}
                                    {% if imageSrcAttr == 'src' %}
                                        {% if foundImage == 0 %}
                                            {% assign html = image | split:">" | first %}
                                            <div style="background:#CCC; width:64px; height:64px; overflow:hidden"><img class="media-object" {{ html }} width="100"></div>
                                            {% assign foundImage = 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {% if foundImage == 0 %}
                                    <div style="background:#CCC; height:64px; width:64px"></div>
                                {% endif %}
                            </div>
                        </a>
                    {% endif %}
                </div>
            </div>

            {% include footer.html %}
        </div>
    </body>
</html>
